.country{
    border: 3px solid green;
    border-radius:20px ;
    margin: 20px;
    padding: 20px;
}

.font_bold{
 font-weight: bold;
}

.country-visited{

    background: rebeccapurple;
    color: white;
}